<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Let's Play CountDown!</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">
  </head>
  <body>

  <section class="section">
    <div class="container">

      <div class="tile is-ancestor">
        <div class="tile">
          <div class="tile">
            <div class="tile is-parent">
              <article class="tile is-child notification is-danger has-text-centered">
                <p class="title is-1">{{ total_to_get }}</p>
              </article>
            </div>
          </div>
        </div>
      </div>

      <br>
      <br>
      <br>

      <div class="tile is-ancestor">
        <div class="tile">
          <div class="tile">
            <div class="tile is-parent">
              <article class="tile is-child notification is-primary">
                <p class="title">{{ big_num }}</p>
              </article>
            </div>
            <div class="tile is-parent">
              <article class="tile is-child notification is-info">
                <p class="title">{{ small_num1 }}</p>
              </article>
            </div>
            <div class="tile is-parent">
              <article class="tile is-child notification is-info">
                <p class="title">{{ small_num2 }}</p>
              </article>
            </div>
          </div>
        </div>
      </div>
      <div class="tile is-ancestor">
        <div class="tile">
          <div class="tile">
            <div class="tile is-parent">
              <article class="tile is-child notification is-info">
                <p class="title">{{ small_num3 }}</p>
              </article>
            </div>
            <div class="tile is-parent">
              <article class="tile is-child notification is-info">
                <p class="title">{{ small_num4 }}</p>
              </article>
            </div>
            <div class="tile is-parent">
              <article class="tile is-child notification is-info">
                <p class="title">{{ small_num5 }}</p>
              </article>
            </div>
          </div>
        </div>
      </div>

      <br>

      <p class="is-size-4 has-text-centered">
        The aim of the game is to reach the target number (in red) using the numbers above
        (green and blue). You can use as many of the numbers as you want, combined with any
        or all of the operators (+, -, *, /). There are three levels of difficulty: easy,
        medium and hard.
      </p>

      <br>

      <div class="buttons is-centered">
        <button class="button is-large" onClick="window.location.reload();">Play Again</button>
      </div>
    </div>
  </section>



  </body>
</html>
